.rowclass {
    margin-top: 10px;
} 

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 2px;
  }

.boton-enviar-respuesta {
    text-align: left;
    margin-top: 10px;
}

.expansion {
  margin-bottom: 10px;
}

.enviar {
  margin-bottom: 30px;
  text-align: center;
}
