<div class="container">
    <div class="row rowclass">

        <div class="col">
            
            <mat-card appearance="outlined" class="p-3">

           <Form>
                <!-- Contestar cuestionario activo -->
                <div class="partners-select">
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header >
                          <mat-panel-title> Angel </mat-panel-title>
                          <mat-panel-description>
                            Cargo a calificar: Servicio a cliente
                            <mat-icon class="icon">task</mat-icon>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        
                        <div class="inlineradio">
                            <label id="">Pregunta 1: Cumplio con todos los requisitos?</label>
                            <br>
                            <mat-radio-group class="example-radio-group" aria-label="Select an option" >
                                <mat-radio-button class="example-radio-button" value="1" color="primary">Malo</mat-radio-button>
                                <mat-radio-button class="example-radio-button" value="2">Regular</mat-radio-button>
                                <mat-radio-button class="example-radio-button" value="3">Bueno</mat-radio-button>
                                <mat-radio-button class="example-radio-button" value="4">Muy bueno</mat-radio-button>
                                <mat-radio-button class="example-radio-button" value="5">Excelente</mat-radio-button>
                              </mat-radio-group>
                          </div>

                        <mat-divider></mat-divider>
                       
                      </mat-expansion-panel>
                </div>


            </Form>

            <!-- Botton para enviar respuesta -->
            <div class="boton-enviar-respuesta">
                <div class="example-button-container">
                    <button mat-fab extended color="primary">
                    <mat-icon>checklist</mat-icon>
                    Enviar respuesta
                    </button>
                </div>
            </div>
        </mat-card>

        </div>

    </div>
</div>