<div class="container">
    <div class="row">

        <div class="col contenedor-items">

            <mat-tab-group class="cuestionarioanswer-resultados">

                <mat-tab label="Cuestionarios"> 
    
                    <mat-nav-list role="#names" class="">
    
                    @for(name of nombreCuestionarios; track name){
                        <mat-card appearance="outlined" class="name-cuestionarios ">
                            @if (name.activo === true) {
                            <a mat-list-item role="listitem">{{name.nombre}}
                                <input class="radios-all" type="radio" id="{{name}}" checked>
                            </a>
                            } @else {
                                <a mat-list-item role="listitem">{{name.nombre}}
                                    <input class="radios-all" type="radio" id="{{name}}">
                                </a>
                            }
                        </mat-card>
                    }
                    </mat-nav-list>
    
                </mat-tab>
    
                <mat-tab label="Resultados"> 
                    <mat-nav-list role="#resultado" class="">
    
                        @for(item of cuestionarioResultados; track item){
                            <mat-card appearance="outlined" class="name-cuestionarios ">
                                <a [routerLink]="['/detallesresultados']" routerLinkActive="router-link-active"  mat-list-item role="listitem">{{item.name}} {{item.fecha}}
                                </a>
                            </mat-card>
                        }
                        </mat-nav-list> 
                </mat-tab>
    
            </mat-tab-group>

        </div>

    </div>
    <div class="row">
        <div class="col contenedor-items">
            <div class="agregar-cuestionario">
                <div class="example-flex-container">
                    <div class="example-button-container">
                    <button mat-fab extended (click)="goNuevoCuestionario()">
                        <mat-icon>add_circle</mat-icon>
                        Nuevo Cuestionario
                    </button>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
