.content-name {
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.cards-width {
    margin-left: 10px;
    margin-right: 10px;
}

.label-cuestionario {
    margin-right: 5px;
}

.activo-input {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.save-botton {
    margin-top: 20px;
    margin-bottom: 20px;
}
.botonsave {
    background-color: greenyellow;
    color: black;
}
