/* roles */
.card-example{
    width: 80%;
    align-items: center;
    text-align: center;
    padding: 10%;
}

.ingresar {
    margin-top: 15px;
}

.form-ingresar {
  text-align: center;
}

.contenedor-items {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.user-input{
  width: 100%;
}

.clave-input {
  width: 100%;
}
