.tabs-table { 
    margin-top: 20px;
}

.title { 
    text-align: center;
}

.botoncuestionarios{
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.task {
    margin: 5%;
}